.form-signin {
max-width: 330px;
padding: 15px;
margin: 0 auto;
}

h1 {
  font-size: 4em;
}

#new_project_btn{
  margin-top: 150px;
}

body{
  background-image: url('/images/back_office_reverse_IMG_0145.jpg');
  background-size: cover;
}

div.max{
  /*background: url('/public/images/cream_dust.png') repeat 0 0;*/
  /*background-color: white;*/
  background-color:rgba(255,255,255,0.95);
  /*position: fixed;*/
  /*top:0;*/
  /*height: 1774px;*/
}

div.main{
  margin-top: 50px;
  height: 1500px;
}

.homepage-background {
  background-image: url('/images/back_office_reverse_IMG_0145.jpg');
  background-size: cover;
}

.signin_box {
  background: rgba(255, 255, 255, 0.5);
  width: 400px;
  margin: 60px auto;
  border-radius: 5px;
}

.signin_box input {
  margin-bottom: 15px;
}

.project_box {
  background: rgba(255, 255, 255, 0.5);
  margin: 30px auto auto 30px;
  border-radius: 5px;
}

.project_box input {
  margin-bottom: 15px;
}



.profile_pic{
  height: 150px;
  width: 150px;
}

.project-background {
  background-color: #5792B2;
}

.nav>li>a {
  margin: 10px;
}


label{
  font-size: 1.2em;
}

div.skills{
}

h2.header{
  border-bottom: 1px solid black;
  margin-top: 15px;
}
input[type=checkbox]{
  height: 1.2em;
  width: 1.2em;
}

div.project{
}

.btn.btn-primary.btn-success.project {
  margin: 20px;
}

div.skill_list{
  margin-top: 50px;
}
div.email{
  margin-top: 70px;
}
a.email{
  width: 150px;
}
















