<h1>Create Your Project</h1>

<form method="post" action="/project/new">
  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label>Description</label>
    <input type="text" name="description">
  </div>

  <div>
    <label>Required Skills</label>
    <% @skills.each do |skill| %>
    <input type="checkbox" name="skills">
    <label><%= skill.name %></label>
      

    <% end %>
  </div>

  <div>
    <label>Number of Team Members</label>
    <input type="number" name="number">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>

