<div class="signin_box">
  <form method="post" action="/project/new" class="form-signin" role="form">
    <h2 class="form-signin-heading">Create Your Project</h2>

    <input type="text" name="name" class="form-control" placeholder="project name" required autofocus>

    <textarea type="text" name="description" class="form-control" placeholder="project description" rows="3" required autofocus></textarea>

    <p></p>
    <label>Required Skills</label>
    <label>
      <% @skills.each do |skill| %>
        <input type="checkbox" name="<%= skill.id %>">
        <label><%= skill.name %></label>
      <% end %>
    </label>

    <label>Ideal Team Size</label>
    <input type="number" name="team_size" class="form-control">

    <input class="btn btn-lg btn-success btn-block" type="submit" value="Find Team!">  

<!--     <button type="button" class="btn btn-success">Success</button>

    <input type="submit" value="Find Team!"> -->


</form>

