
    

  <div class="signin_box">
    <form class="form-signin" role="form" method="post" action="/">
      <h1>t_mer</h1>
      <h2 class="form-signin-heading">Build your dev team</h2>
      <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
      <input name="password"  type="password" class="form-control" placeholder="Password" required>   
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
    <!-- <h3 class="form-signin-heading">not a t_mer yet?</h3>  -->

      <a href="/sign_up" class="btn btn-lg btn-success btn-block" role="button">Sign up</a>
      
      <!-- <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>   -->
    </form>
  </div>

    </div> 
  

    

    