    <div class="container">
    

    <% if !current_user %>
      <div class="signin_box">
      <form class="form-signin" role="form" method="post" action="/">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input name="password"  type="password" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
    <% else %>


      <div class="col-md-6 col-md-offset-3">
      <a href="project/new" id="new_project_btn" class="btn btn-primary btn-lg btn-block btn-success ">Create A Project!</a>
      </div>
    <% end %>
    </div> 
  

    

    